<div class='row-fluid'>
  <div class='span2 search-column'>
    <div id='video-search'>
      <%= form_tag '/welcome/search', id: 'query-form' do %>
        <%= text_field_tag 'query', nil, placeholder: 'Search YouTube', class: 'input-medium' %>
        <%= submit_tag 'Go', id: 'submit-query', class: 'btn' %>
      <% end %>
    </div>

    <div id='video-list'>
    </div>
  </div>
  
  <div class='span10'>
    <div class='row-fluid'>
      <%= render 'deck', name: 'deck1' %>
      <%= render 'deck', name: 'deck2' %>
    </div>

    <div class='row-fluid'>
      <div class='span6 offset3 hero-unit'>
        <div id='fader'></div>
      </div>
    </div>
  </div>

</div>

